<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="preferExternal"
    package="com.android.kk.carmain">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--<uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:label="AAKK"
        tools:replace="android:label"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name="com.android.kk.carmain.CarMainActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.android.kk.carmain.OverlayShowingButtonServiceZene"
            android:exported="false" />

        <service
            android:name="com.android.kk.carmain.OverlayShowingButtonServiceNavi"
            android:exported="false" />

        <service
            android:name="com.android.kk.carmain.OverlayShowingButtonServiceKi"
            android:exported="false" />

<!--
        <service
            android:name="com.android.kk.carapplication.ThinBTHFPClient"
            android:exported="false" />
-->

        <receiver
            android:enabled="true"
            android:exported="true"
            android:name="com.android.kk.carmain.ActivityRunOnStartupCarMain"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </receiver>

        <activity
            android:label="üzemanyag"
            android:icon="@drawable/ic_launcher_fuel"
            android:taskAffinity="com.android.kk.carapplication.FuelActivity"
            android:name="com.android.kk.carmain.FuelActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="kilép"
            android:icon="@drawable/system_shutdown"
            android:taskAffinity="com.android.kk.carleft.PowerOffActivity"
            android:name="com.android.kk.carapplication.PowerOffActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="újrainít"
            android:icon="@drawable/system_reboot"
            android:taskAffinity="com.android.kk.carleft.RebootActivity"
            android:name="com.android.kk.carapplication.RebootActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
